.index {
    background-color:palegreen;
}

.essays {
    background-color:lightblue
}

.projects {
    background-color:teal;
}

h1 {
    font-size: 60px;
    text-align: center;
    
}

.index h1 {
    color: red;
}

.essays h1 {
    color: green;
    border-left-style: dotted;
    border-right-style: dotted;
    border-top-style: solid;
    border-color:lime;
    border-width:5px;
    border-bottom-style:solid;
    margin-right: 200px;
    margin-left: 200px; 
}

.projects h1 {
    color: lavender;
    border-style: dotted;
    margin-right: 200px;
    margin-left: 200px;
}

h2 {
    font-size:45px;
    
}

.index h2 {
    color: blue;
    text-align: center
}

.essays h2 {
    color: red;
    text-align: center;
    border-style: solid;
    margin-left: 200px;
    margin-right: 200px;
}

.projects h2 {
    color: white;
    text-decoration: underline;
}




p {
    font-size: 30px;
    text-align: left;
}

.projects p {
    margin-right:1200
}

:root {
    --from: green;
    --to: lime;
    --colorFrom: black;
    --colorTo:black;
}

@keyframes buttonShift {
    from {background-color: var(--from); color: var(--colorFrom);}
    to {background-color: var(--to); color: var(--colorTo);}
    
}

button {
    font-size: 20px;
    animation-name: buttonShift;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition-property: height, width;
    transition-duration: 5s, 5s;
}

button:hover{
    width: 150px;
    height: 60px;
}

.index button{
    --from: green;
    --to: lime;
}

.essays button {
    --from: blue;
    --to: green;
    --colorFrom: white;
    --colorTo: white;
}

.projects button {
    --from: purple;
    --to: lavender;
    --colorFrom: white;
}
	    
    
		     
