

.index {
    background-image: linear-gradient(-135deg, maroon, palegreen, red);
    background-attachment: fixed;
}

.essays {
    background-image: linear-gradient(-135deg, lightblue, violet, purple);
    background-attachment: fixed;
}

.projects {
    background-image: linear-gradient(-135deg, lavender, teal, lavender);
    background-attachment: fixed
}

h1 {
    font-size: 60px;
    text-align: center;
    display: inline-block;

}

.index h1 {
    color: red;
}

.essays h1 {
    color: green;

    border-color:lime;

    margin-right: 200px;
    margin-left: 200px; 
}

.projects h1 {
    color: lavender;
    border-style: dotted;
    box-sizing: border-box;
}

h2 {
    font-size:45px;
    text-align: center
}

.index h2 {
    color: blue;
   
}

.essays h2 {
    color: red;
   

    margin-left: 200px;
    margin-right: 200px;
}

.projects h2 {
    color: white;
    text-decoration: underline;
    
}




p {
    font-size: 30px;
    text-align: left;
    margin-left: 400px;
    margin-right:400px;
}

.projects p {
    margin-right:1200
}





.buttonIndex {
    background-color: lightgreen;
    font-size: 20px;
    transition-duration: 0.4s;
    border-radius: 10px;
}

.buttonIndex:hover {
    background-color: lime;
}

.buttonEssays {
    backgroundColor: magenta;
    font-size: 20px;
    transition-duration: 0.4s;
    border-radius: 10px;
}

.buttonEssays:hover {
    backgroundColor: hotpink;
}

.buttonProjects {
    background-color: blue;
    font-size: 20px;
    transition-duration: 0.4s;
    border-radius: 10px;
}

.buttonProjects:hover {
    background-color: purple;
    color: white
}


